<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.322550071561-ape3v4ghi69v6p0enugskoom9t0k3fnn</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakaoe75744d6e9f6fc99f43c5ab0ee34b8d7</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>322550071561-ape3v4ghi69v6p0enugskoom9t0k3fnn.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string></string>
		<string>kakaokompassauth</string>
	</array>
</dict>
</plist>
